{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "quiz" .}}

{{define "title"}}Controller{{end}}

{{define "pagemenu"}}
	<li class="nav-item"><a class="nav-link" href="/controller">Controller</a></li>
{{end}}

{{define "page"}}
	<div class="container">

		<h2>Controller</h2>
		
		<form action='/control-start' method='POST'>
			<input class="form-control" type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<input class="form-control" type='hidden' name='display' value='C'>
			<div class="row my-3">
				<div class="col-md-3">
					<button class="btn btn-primary" onclick='confirmStart("{{.Val}}")'>Start</button>
				</div>
				<div class="col-md-9">
					Live quiz. When display shows, press SPACEBAR to step through questions and rounds.
					You can also use arrow keys for forward and backwards.
					On a tablet, touch left and right sides of the display, or swipe.
				</div>
			</div>
		</form>

		<form action='/control-resume' method='POST'>
			<input class="form-control" type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<div class="row my-3">
				<div class="col-md-3">
					<button class="btn btn-primary">Resume</button>
				</div>
				<div class="col-md-9">Resume quiz at current round.</div>
			</div>
		</form>

		<form action='/control-start' method='POST'>
			<input class="form-control" type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<input class="form-control" type='hidden' name='display' value='P'>
			<div class="row my-3">
				<div class="col-md-3">
					<button class="btn btn-primary">Practice</button>
				</div>
				<div class="col-md-9">Start quiz without replica display and scoreboard.</div>
			</div>
		</form>

		<div class="row my-3">
			<p>Press ESC (or Q or X) to quit a display.</p>
		</div>
	</div>
{{end}}

{{ define "pagescripts" }}
    <script>
		function confirmStart(started) {
			if (started == 'Y')
				return confirm('Are you sure? All scores will be cleared.');
			else
				return true;
		}
	</script>
{{end}}