{{define "deck"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
		<meta name="viewport" content="width=1024px,user-scalable=no">
        
        <title>Display - QuizInch</title>
        {{block "pagemeta" .}}
        {{end}}

		{{template "stylesheets-deck"}}

		<!-- Required Modernizr file -->
		<script type="text/javascript" src="/static/deck-js/modernizr.custom.js"></script>
        
        {{block "favicons" .}}
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
            <link rel="manifest" href="/static/images/site.webmanifest">
            <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#019fcb">
            <meta name="msapplication-TileColor" content="#ffc40d">
            <meta name="msapplication-config" content="/static/images/browserconfig.xml">
            <meta name="theme-color" content="#0050a2">
        {{end}}
    </head>
    <body>
        {{template "deckContent" .}}
        {{template "deckScripts" .}}
    </body>
</html>
{{end}}

{{define "deckContent"}}

	<div class="deck-container">

    <!-- Begin slides. Just make elements with a class of slide. -->

    {{block "slides" .}}
	{{end}}
		
    <!-- End slides. -->

    <!-- Begin extension snippets. Add or remove as needed. -->

	{{if .TouchNav}}
		<!-- deck.navigation snippet -->
		<div aria-role="navigation" class="{{.TouchNav}}">
			<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
			<a href="#" class="deck-next-link" title="Next">&#8594;</a>
		</div>
	{{end}}

	{{/* Removed deck.status and deck.goto. See boilerplate.html */}}
	
    <!-- End extension snippets. -->
	</div>

{{end}}

{{define "deckScripts"}}
	{{template "js-deck" .}}
	{{template "js-controller" .}}
	
	{{block "pagescripts" .}}
	{{end}}

	<!-- Initialize the deck. You can put this in an external file if desired. -->
	<script>
	</script>
{{end}}