{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "quiz" .}}

{{define "title"}}Home{{end}}

{{define "pagemenu"}}
    {{if .IsOrganiser}}
		<li class="nav-item"><a class="nav-link" href="/controller">Controller</a></li>
    	<li class="nav-item"><a class="nav-link" href="/scorers">Scorers</a></li>
		<li class="nav-item"><a class="nav-link" href="/displays">Displays</a></li>
	{{end}}
	{{if .IsAdmin}}
		{{template "menu-admin" .}}
	{{end}}
	{{if .IsTeam}}
		<li class="nav-item">
			<form action='/user/logout' method='POST'>
				<input class="form-control" type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
				<button class="btn btn-outline-dark btn-sm">LOGOUT</button>
			</form>
		</li>
	{{else}}
	    <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
	    <li class="nav-item"><a class="nav-link" href="/user/signup">Sign-up</a></li>
	{{end}}
{{end}}

{{define "page"}}
   <div class="container">
        <header> 
            <span class="banner">{{block "banner" .}}{{.Organiser}}{{end}}</span>
        </header>
    </div>

   <div class="container">

		{{if .IsOrganiser}}
			<p>Welcome to this QuizInch system.</p>
			<p>
				<ul>
					<li><b>Controller:</b> Select the Controller tab.</li>
					<li><b>Quizmaster:</b> Select the Displays tab, and choose the Quizmaster display.</li>
					<li><b>Scorers:</b> Select the Scorers tab.</li>
				</ul>
			</p>
		{{else}}
			<p>To use this online quiz system you should have received either an email with a Join Quiz link,
			or an invitation to Sign-up.</p>
		{{end}}
		<p>QuizInch - Copyright (C) 2020 Rob Burke<br>
        This website software comes with ABSOLUTELY NO WARRANTY.
        This is free software, and you are welcome to redistribute it under certain conditions.
        For details see the source code on <a href="https://github.com/inchworks/quizinch" target="_blank">github.com/inchworks/quizinch</a>.</p>

	</div>
{{end}}