{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "js-controller"}}

	<script>
		{{/* Select controller or puppet operation */}}
		gblPuppet = {{.Puppet}};
		
		{{/* Current page state */}}
		gblPage = {{.Page}};
		gblAccess= {{.Access}};
		gblParam = {{.Param}};
		gblIndex = {{.Index}};
		gblSync = {{.Sync}};
		gblUpdate = {{.Update}};
		gblInterval = {{.Interval}};
		gblMonitor = {{.Monitor}};
		
		{{/* Something changing to show that display is live */}}
		gblTick = "{{.Tick}}";
		gblSecond = 0;
		
		{{/* Detect touchscreen navigation */}}
		gblTouchNav = 1;

		{{/* CSRF token */}}
		gblToken = {{.CSRFToken}};
	</script>
	
    <script type="text/javascript" src='/static/js/controller-04.js'></script>
	
{{end}}