{{define "js-deck"}}

	{{/* Removed deck.goto and deck.status. Added deck.quiz. See boilerplate.html */}}

    <script type="text/javascript" src='/static/deck-js/jquery.min.js'></script>
    <script type="text/javascript" src='/static/deck-js/core/deck.core.js'></script>
    <script type="text/javascript" src='/static/deck-js/extensions/menu/deck.menu.js'></script>
    <script type="text/javascript" src='/static/deck-js/extensions/quiz/deck.quiz.js'></script>
    <script type="text/javascript" src='/static/deck-js/extensions/navigation/deck.navigation.js'></script>
    <script type="text/javascript" src='/static/deck-js/extensions/scale/deck.scale.js'></script>
	
{{end}}