{{template "deck" .}}

{{define "slides"}}

	{{range .Slides}}

		<section class="slide">
			<h2>{{ $.Title }} - Answers ({{.NSlide}})</h2>
			<div>
				<ul>
				{{range .Questions}}
					{{template "answer" .}}
				{{end}}
				</ul>
			</div>
		</section>

	{{end}}

	{{template "break" .}}
	
{{end}}
