{{template "deck" .}}

{{define "slides"}}

	<section class="slide">
		<h2 class="scores">{{.Title}}</h2>
		<h3 class="wait">Waiting for scores ...<h3>
		
	</section>

	{{template "break" .}}

{{end}}