{{template "deck" .}}

{{define "slides"}}

<section class="slide">
	<div class="tick">{{.Tick}}</div>
   	<img class="logo" src="/static/images/big-logo.png" />
	<h3>{{.Organiser}}</h3>
</section>

{{end}}