{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{define "quiz"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>{{template "title" .}} - QuizInch</title>
        {{block "pagemeta" .}}
        {{end}}

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel='stylesheet' href='/static/css/quiz-02.css'>

        <script type="text/javascript" src='/static/js/jquery-3.6.0.min.js'></script>
        
        {{block "favicons" .}}
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
            <link rel="manifest" href="/static/images/site.webmanifest">
            <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#019fcb">
            <meta name="msapplication-TileColor" content="#ffc40d">
            <meta name="msapplication-config" content="/static/images/browserconfig.xml">
            <meta name="theme-color" content="#0050a2">
        {{end}}
    </head>
    <body>
        {{template "quizContent" .}}
        {{template "quizScripts" .}}
    </body>
</html>
{{end}}

{{/* Alias for webparts pages. */}}
{{define "layout"}}
	{{template "quiz" .}}
{{end}}

{{define "quizContent"}}
	<!-- // Copyright © Rob Burke inchworks.com, 2020. -->
	
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ccc;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img class="d-inline-block align-top" height="31" src="/static/images/navbar-brand.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href='/'>Home</a></li>
                        {{block "pagemenu" .}}
                        {{end}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {{with .Flash}}
        <div class="container">
            <div class='alert alert-success'>{{.}}</div>
        </div>
    {{end}}
     
    {{template "page" .}}
{{end}}

{{define "quizScripts"}}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script>
        $('a[href="' + this.location.pathname + '"]').closest('li').addClass('active');
    </script>
	{{block "pagescripts" .}}
	{{end}}
{{end}}
