{{template "deck" .}}

{{define "slides"}}

<section class="slide">
	<div class="tick">{{.Tick}}</div>
	<h3 class="start">Press spacebar or touch screen to start</h3>	
</section>

<section class="slide">
	<div class="tick">{{.Tick}}</div>
	<h2 class="start">{{.Title}}</h2>
   	<img src="/static/images/start-banner.png" />
	<h3 class="start">{{.Organiser}}</h3>
</section>

{{end}}