{{template "deck" .}}

{{define "slides"}}

	<section class="slide">
		<div class="tick">{{.Tick}}</div>
		<h2 class="scores">Scoreboard</h2>
		<h3 class="wait">Updating scores ...<h3>
	</section>

{{end}}