{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "quiz" .}}

{{define "title"}}Score Round{{end}}

{{define "pagemenu"}}
    <li class="nav-item"><a class="nav-link" href="/scorers">Scorers</a></li>
{{end}}

{{define "page"}}
	<div class="container">
		<h2>Round {{ .Round }} - {{.Title}}</h2>

		<form action='/{{ .Action }}' method='POST'>
			<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<input type='hidden' name='nRound' value='{{ .Round }}'>								

			<div id='formChildren'>
				{{range .Children}}
					<div class='childForm' {{ .ChildStyle }}>
						<input type='hidden' name='index' value='{{ .ChildIndex }}'>								
						<div class="row">
							<label class="col-md-4 col-form-label">{{ .Name }}</label>
							<div class="col-md-2">
								<input type='text' name='score' class='form-control {{.ChildValid "score"}}' value='{{ .Score }}'>
								<div class='invalid-feedback'>{{.ChildError "score"}}</div>
							</div>
						</div>
					</div>
				{{end}}
			</div>
			<div class="row mt-3">
				<div class="col-md-2">
					<input type='submit' class="btn btn-primary" value='Save' id='submit'>
				</div>
			</div>
		</form>
	</div>
{{end}}

{{ define "pagescripts" }}
{{end}}
