{{template "deck" .}}

{{define "slides"}}

<section class="slide">

	<div class="tick">{{ .Tick }}</div>
	
	<h2 class="scores">Scoreboard</h2>	

	<table class="quizScores">
		<tr>
			<th>Team</th>
			<th></th>
			<th></th>
			<th></th>
			</tr>
		
	    {{range .Teams}}
			<tr>
				<td>{{ .Name }}</td>
				<td></td>
				<td></td>
				<td></td>
				</tr>
		{{end}}
		
	</table>
		
</section>

{{end}}
