{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "quiz" .}}

{{define "title"}}Score Question{{end}}

{{define "pagemenu"}}
    <li class="nav-item"><a class="nav-link" href="/scorers">Scorers</a></li>
    <li class="nav-item"><a class="nav-link" href="/scorer-rounds">Rounds</a></li>
    <li class="nav-item"><a class="nav-link" href="/scorer-questions/{{.NRound}}">Questions</a></li>
{{end}}

{{define "page"}}
	<div class="container">
		<h2>Round {{ .NRound}} : {{ .Title }}</h2>
		<h3>{{ .Order }}. {{ .Question }}</h3>
		<p>Answer: {{ .Answer }}</p>

		<form action='/score-question' method='POST'>
			<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<input type='hidden' name='nQuestion' value='{{.NQuestion}}'>

			<div id='formChildren'>
				{{range .Children}}
					<div class='childForm' {{ .ChildStyle }}>
						<input type='hidden' name='index' value='{{ .ChildIndex }}'>								
						<div class="row">
							<label class="col-md-2 col-form-label">{{ .Name }}</label>
							<div class="col-md-6">{{ .Value }}</div>
							<div class="col-md-2">
								<input type='text' name='score' class='form-control {{.ChildValid "score"}}' value='{{ .Score }}'>
							</div>
							<div class='col-md-2 invalid-feedback'>{{.ChildError "score"}}</div>
						</div>
					</div>
				{{end}}
			</div>
			<div class="row">
				<div class="col-md-2 offset-md-8">
					<input type='submit' class="btn btn-primary" value='Save' id='submit'>
				</div>
			</div>
		</form>
		<div class="row mt-3">
			<div class="col-md-8 offset-md-1">Second scorer - check that the scores above are correct.</div>
		</div>
		<form action='/confirm-question' method='POST'>
			<input class="form-control" type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<input class="form-control" type='hidden' name='from' value='R'>
			<input class="form-control" type='hidden' name='nQuestion' value='{{ .NQuestion }}'>
			<div class="row">
				<div class="col-md-2 offset-md-8">
						<button class="btn btn-info">Confirm</button>
				</div>
			</div>
		</form>
	</div>
{{end}}

{{ define "pagescripts" }}
    <script>
		// validate score
		$('input[name="score"]').change(function () {
			var v = $( this ).val();
			var e;
			if (v == "") {
				e = "";  // no value yet
			}
			else if (isNaN(v)) {
				e = "not a score!";
			}
			else { 
				if (v < 0)
					e = "negative score!";
				else if (v > 5)
					e = "big score!";
				else
					e = "";  // ok
			}
			$( this ).closest(".row").find(".invalid-feedback").text(e);
		});
    </script>
{{end}}
