{{/*
  Copyright © Rob Burke inchworks.com, 2020.

  Copying and distribution of this file, with or without modification, are permitted in any
  medium without royalty, provided the copyright notice and this notice are preserved.
  This file is offered as-is, without any warranty.
*/}}

{{template "quiz" .}}

{{define "title"}}Setup Rounds{{end}}

{{define "pagemenu"}}
    <li class="nav-item"><a class="nav-link" href="/setup-quiz">Setup</a></li>
{{end}}

{{define "page"}}
	<div class="container">
		<h2>Setup Rounds</h2>

		<form action='/setup-rounds' method='POST'>
			<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

			<h3>Rounds</h3>

			<div id='formChildren'>
				{{range .Children}}
					<div class='childForm' {{ .ChildStyle }}>
						<input type='hidden' name='index' value='{{ .ChildIndex }}'>								
						<div class="row mb-2">
							<label class="form-label visually-hidden">Quiz order</label>
							<div class="col-md-2">
								<label class="form-label visually-hidden">Quiz order</label>
								<input type='number' name='quizOrder' class='form-control quizOrder {{.ChildValid "quizOrder"}}' placeholder='Order' value='{{ .QuizOrder }}'>
								<div class='invalid-feedback'>{{.ChildError "displayName"}}</div>
							</div>
							<div class="col-md-6">
								<label class="form-label visually-hidden">Title</label>
								<input type='text' name='title' class='form-control {{.ChildValid "title"}}' placeholder='Title' value='{{ .Title }}'>
								<div class='invalid-feedback'>{{.ChildError "title"}}</div>
							</div>
							<div class="col-md-2">
								<label class="form-label visually-hidden">Format</label>
								<input type='text' name='format' class='form-control {{.ChildValid "format"}}' placeholder='Format' value='{{ .Format }}'>
								<div class='invalid-feedback'>{{.ChildError "format"}}</div>
							</div>
							<div class="col-md-2">
								<a href="#" class="btn btn-secondary btnConfirmDelChild">Delete</a>
							</div>
						</div>
					</div>
				{{end}}
			</div>

			<div class="row mb-2">
				<div class="offset-md-9 col-md-3">
					<a href="#" class="btn btn-secondary btnAddChild">Add Round</a>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-md-3">
					<input type='submit' class="btn btn-primary" value='Save Rounds' id='submit'>
				</div>
			</div>
		</form>
	</div>
{{end}}

{{ define "pagescripts" }}
   <script type="text/javascript" src='/static/js/multiforms-03.js'></script>
   <script>
		// page-specific processing
		function childAdded($prototype, $newForm) {

			// increment quizOrder in prototype
			$f = $prototype.find(".quizOrder");
			$f.val(Number($f.val())+1);
		}

		function pageReady() {}

		function confirmAsk($child) {
			return 'Delete \"' + $child.find('input[name="title"]').val() + '\"?';
		}
    </script>
{{end}}