{{define "break"}}

	{{if eq .BreakSlide "E"}}
	
		<section class="slide">
			<div class="tick">&nbsp;</div>
			<img src="/static/images/big-logo.png" />
			<h3>{{ .Organiser }}</h3>
		</section>

		<section class="slide">
			<p>..</p>
		</section>

	{{else if eq .BreakSlide "I"}}

		<section class="slide">
			<div class="tick">{{.Tick}}</div>
			<h2>Interval</h2>
			<img src="/static/images/big-logo.png" />
			<h3>{{ .Organiser }}</h3>
		</section>

		<section class="slide">
			<p>..</p>
		</section>

	{{else if eq .BreakSlide "P"}}
	
		<section class="slide">
			<p>..</p>
		</section>

	{{end}}

{{end}}