{{define "stylesheets-deck"}}

	{{/* Removed deck.goto and deck.status. See boilerplate.html */}}
	{{/* Removed Basic black and white print styles. See boilerplate.html */}}
	
	<link rel='stylesheet' media="screen" href='/static/deck-js/core/deck.core.css'>
	<link rel='stylesheet' media="screen" href='/static/deck-js/extensions/menu/deck.menu.css'>
	<link rel='stylesheet' media="screen" href='/static/deck-js/extensions/navigation/deck.navigation.css'>
	<link rel='stylesheet' media="screen" href='/static/deck-js/extensions/scale/deck.scale.css'>
	<link rel='stylesheet' media="screen" href='/static/deck-js/themes/style/quiz.css'>
	<link rel='stylesheet' media="screen" href='/static/deck-js/themes/transition/fade.css'/>
	<link rel='stylesheet' media="screen" href='/static/css/quiz-slides-02.css'>

{{end}}